@use "functions" as func;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&display=swap');

$font-body: Montserrat, sans-serif;
$color-bg-1: #121212;

$fretboard-bg: $color-bg-1;
$fret-border: #444444;

$note: #186c81;
$tonic: #973333;

$key-color: #5B9A8B;

$white: #fff;
$black: #000;

:root {
    --font-body: #{$font-body};
    --color-bg-1: #{$color-bg-1};

    --fretboard-bg: #{$fretboard-bg};
    --fret-border: #{$fret-border};

    --note: #{$note};
    --tonic: #{$tonic};
  
    --key-color: #{$key-color};

    --white: #{$white};
    --black: #{$black};
}

body {
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-1);
	background-size: 100vw 100vh;
}